@*<div class="popup">*@
<div id="popalert" class="dlgpanel" style="z-index:9995">   
    <div class="dlgdraghandle popdialogheader">
        <span class="popdialogtitle" id="poptitle" style="display: none;"></span>
    </div>
    <span id="popmessage"></span>
    <div>       
        <div id="closePopAlertIcon" onclick="closePopAlert();" class="Cs_close_icon" style="margin-right: 0px"></div>
        <div style="clear:both;"></div>
    </div>
</div>
@*</div>*@

<div id="ajaxProg" style="overflow: hidden; width: 110px; height: auto;display:none;">
    Working
    <div style="font-size: 12px; padding-top: 43px;">
        Please wait
    </div>
</div>
@*<div id="dlgblock"></div>*@
<div id="dlgblock" class="popup-wrapper" style="cursor:auto; z-index:9993 !important">
</div>
