<div class="left">
    <div class="sidebar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div>
                    <a href="index1.html"><div class="company-logo"><img src="/img/logo.png" /> Youffer</div></a>
                </div>
            </li>
                <li>
                   <a href="#">Home</a>
               </li> 

            <li>
                <a href="my_clients.html">My Clients</a>
            </li>

            <li>
                <a href="review_client.html">Review Clients</a>
            </li>

            <li>
                <a href="invoice.html">Invoices</a>
            </li>

            <li>
                <a href="search.html">Search</a>
            </li>

            <li>
                <a href="send_mail.html">Messages</a>
            </li>

            <li>
                <a href="setting.html">Settings</a>
            </li>

            <li>
                <a href="statistics.html">Statistics</a>
            </li>

            <li>
                <a href="contact.html">Contact Us</a>
            </li>


            <li>
                <a href="index.html" class="login-btn" style="display:none;">Logout</a>
            </li>
        </ul>
    </div>

</div>
