<!-- Footer -->
<div id="footer-wrapper">
    <div class="container" style="text-align: center; color: #fff; padding: 10px;">
        <span style="font-size: 11px;">&copy; 2014 Youffer. All rights reserved</span>
    </div>
</div>