@{
    ViewBag.Title = "Invoices";
}

<div class="large-box">
    <div>
        <div class="box-heading">
            Invoices
        </div>
        <div class="large-box-data" id="" style="min-height:400px;">
            <center><h2>Sorry, no results to display.</h2></center>
        </div>
    </div>
</div>


