@{
    ViewBag.Title = "How It Works";
    Layout = "~/Views/Shared/_YoufferLayout.cshtml";
}

<div class="page-container">
    <div class="container">
        <ul class="staic-page-list">
            <li>How It Works</li>
        </ul>
    </div>
    <div class="container static-page-container">
        <div class="youffer-text">
            <p>First of all, register with us for free and become a Youfirm.<br>
            That way you can express your business type and we can suggest clients in your area for you according to the service that you provide.</p>
            
            <p>Each Youser has a rating; this rating is an average rank of the previous Youfirms that have connected with that Youser.<br>
               The higher the rank, the more likely the Youser will be to utilize your services.</p> 
            
            <p>Want to search for Yousers according to their listed needs? Explore the needs of Yousers through our on-site search.</p>
            
            <p>Observe the profiles of Yousers to see a short description of who they are and their availability to speak, along with other relevant information that can help you decide whether or not to buy his or her details.</p>

            <p>Once you have purchased the Youser’s details, their profile will be appear under the “My Clients” section. You will then be able to contact the Youser by phone or through our application’s messaging system.</p>

            <p>After each call, you will be required to give the Youser a rank according to the interaction that you had. If the user shows a positive interest in using your service, give him a good rating. You can always change the rating depending on how your relationship develops and whether the Youser decides to use your services in the future or not.</p>

            <P>Have any questions? We are always here for you – send us an email to <a href="mailto:support@youffer.com">support@youffer.com</a> and we will be more than happy to assist!</P><br />
            <p style="color: black; font-size: 18px; font-weight: bolder;">Join our online revolution – Join Youffer!</p>
        </div>
    </div>
</div>