@{
    ViewBag.Title = "Terms of Use";
    Layout = "~/Views/Shared/_YoufferLayout.cshtml";
}

<div class="page-container">
    <div class="container">
        <ul class="staic-page-list">
            <li>Terms and Conditions</li>
        </ul>
    </div>
    <div class="container static-page-container">
        <div class="youffer-text">
            <div style=" width:100%; margin: auto;">
                <div style="margin: 0 auto; text-align: center; height: auto; font-size: 25px; margin-bottom: 20px;">General Terms of Usage for "Youffer" Application</div>
            </div>

            <div>
                <span>1. &nbsp;General</span><br />
                <p>Welcome to Youffer Application (here in after: "The Application").</p>
                <p>
                    The Application is the property of Youffer (created and designed by YAY Networks) (here in after: "the Owners")
                    and any use of it, made by you, is in accordance with the rules on the application (here in after: the "Applications
                    Rules") which are subject to the provisions of the Terms of Usage hereunder.
                </p>
                <p>
                    These Terms of Usage apply to The Application and/or any part hereof, including designs, source code, software
                    modules and any other content of The Application and/or which The Application allows access to and/or their
                    downloading, and they constitute an integral part hereof and of The Application operation and/or services offered
                    in it and/or by it, with or without consideration (here in after, severally and jointly: "The Services").
                </p>
                <p>
                    Use of any information, products and/or services, as well as using The Application is at the user's sole
                    responsibility, and subjected to the provisions of these Terms of Usage.
                </p>
                <br /><br />

                <span>2. &nbsp;The Terms of Usage</span><br />
                <p>
                    These Terms of Usage apply on whoever has made, is making and/or shall make use of The Application, including
                    users, sellers, services providers and any other third party.
                </p>
                <p>
                    In these Terms of Usage, the expression "content" shall include any service, product, source code, software module,
                    software application, text, photograph, picture, design, illustration, map, sound track, video track, graphics,
                    expression, creation, knowledge, or other information, entirely or partially, presented in this application and/or
                    used for its planning/characterization and/or which are included in it and/or addressed to/from it, and that -
                    in any type of communication and/or connection, whether with or without consideration, by you and/or any third
                    party, as well as intellectual property rights, including but not limited to patents, trademarks, copyrights and
                    moral rights, associated with any of the above.
                </p>
                <p>In these Terms of Usage, any use of the masculine form or the feminine form is for convenience purposes only, and the approach is made for both men and women. Furthermore, any reference made to the singular shall mean to include the plural form as well and vice versa.</p>
                <p>The provisions of these Terms of Usage are accumulative and/or substitutive and/or complementary, as relevant to the context.</p>
                <p>In the absence of agreement with any of the provisions included in these Terms of Usage, you should refrain from making any use of The Application.</p>
                <br /><br />
                <span>3.&nbsp;Access to The Application</span><br />
                <p>The Owners reserve the right to allow or deny the use of The Application at any time, as well as change and/or cease the option to do so, at their sole discretion.</p>
                <p>Access to The Application or part hereof and the possibility to perform certain actions may be feasible for certain users yet limited for others, for various reasons, or may not be possible at all and/or involve the allocation of a user name and/or password and/or dependent upon the fulfillment of a questionnaire and/or the providing of personal details, and alike, at the sole and absolute discretion of the Owners.</p>
                <p>The Owners may initiate the requiring of the above without prior notice, or continue to require that, or cease to require that, or do so from time to time, without prior notice, at their sole and absolute discretion.</p>
                <br /><br />

                <span>4.&nbsp;Use of Information You Provided</span><br />
                <p>If you provided an email address, phone number, or other communication means, you hereby agree to accept messages to that email which you provided for various needs, including advertisements, invitations, offers, notices and commercial messages of any sort. You are allowed to request the cessation of the transmission of the said messages as per the provisions of any law.</p>
                <p>By using The Application, you hereby consent to the collection and follow up of your personal information, including personal data, content, actions and usage habits, (here in after: "Personal Information") and these shall be used for various needs, including commercial and marketing ones.</p>
                <p>The Owners shall have no responsibility whatsoever for misuse by third parties of said Personal Information. Without derogating from the above you should promptly acknowledge the Owners if such cases occur.</p>
                <br /><br />

                <span>5.&nbsp;Types of Contents in The Application</span><br />
                <p>The Owners reserve the right to choose to whether and which contents shall appear and/or be advertised, or cease/continue to appear and/or be advertised on The Application, or shall appear/be advertised from time to time, all at their sole and absolute discretion, and under their commercial needs, and without prior notice or retroactive update.</p>
                <p>The Owners may, from time to time, change, add, derogate, delete and update The Application contents and/or appearance and/or operational method and/or usage method and/or products and/or services included herein, without prior notice and at their sole discretion.</p>
                <p>The Owners reserve the right to include in The Application contents which constitute their/others advertisements and/or any other commercial contents (here in after: "advertisements").</p>
                <p>Pictures, illustrations and simulations appearing in The Application are for illustration only, and do not oblige the Owners.</p>
                <p>The advertisements or services offers appearing in The Application and/or sent to its users are at the advertisers'/ service-providers' complete and sole responsibility.</p>
                <p>The Application contents may contain mistakes, including dates, prices, payment terms and more, and the Owners reserve the right to amend any such mistakes at all times without bearing any responsibility for the mistake and/or the amendments thereof.</p>
                <br /><br />

                <span>6. &nbsp;Contents Search in The Application</span><br />
                <p>The Owners reserve the right to actuate access ways, search means and/or search engines in The Application, to allow access to certain contents in The Application or part hereof at the Owners' choice, as well as to change and/or cease to do so, at their sole discretion.</p>
                <br /><br />

                <span>7. &nbsp;Application Contents Availability</span><br />
                <p>You hereby approve that various faults may occur, deriving from various reasons which may prevent access and/or use of The Application, or burden them, including communication difficulties and/or maintenance purposes and/or other reasons, and The Application usage may be cut off and/or stopped without being completed and/or saved. The Owners shall be relieved of any responsibility thereof, and you should save in advance any information you consider making use of or uploading to The Application, before doing so.</p>
                <br /><br />

                <span>8. &nbsp;Ordering Products and/or Services through The Application</span><br />
                <p>1. &nbsp;The Owner are not product sellers or services providers but merely may allow you to use The Application in order to search, select, save or define products and/or services for their ordering and/or purchasing from any third party which is permitted by the owners to sell products and/or provide services on The Application, as the case may be (here in after: "Permitted Seller" or "Seller").</p>
                <p>2. &nbsp;You hereby allow the Owners/Seller to make free use of your purchasing data, excluding the payment details which shall be used subjected to your explicit consent only.</p>
                <p style="margin-left: 40px;">However, a Seller is not entitled to disclose any information on any user and should keep such information in a complete confidence. In case of any disclosure or misuse of such information Seller is hereby agree to pay the Owners a fine of 100,000 USD</p>
                <p style="margin-left: 40px;">Only a Permitted Seller may use user's information in accordance with the provisions of these Terms of Usage.</p>
                <p>3. &nbsp;Products and/or services purchased by you, to the extent that such shall occur, are subjected to the provisions of Israel State laws.</p>
                <p>4. &nbsp;Prices in The Application, to the extent that such shall exist, are valid as of the date of their presentation, and may be updated and changed from time to time at the Owners'/seller's discretion.</p>
                <p>5. &nbsp;An order through The Application may not be changed and/or cancelled but under the explicit consent of the Owners/sellers in writing and subjected to cancellation fees.</p>
                <p>6. &nbsp;The seller have the right to cancel an offer or a transaction, provided that the orderer is given a notice thereof within a reasonable period of time of the purchase approval date, subject to refund of paid purchase payments up to that date.</p>
                <p>7. &nbsp;The title and Ownership of the products and/or services, provided by the Owners or other seller to the orderer, shall remain that of the seller until the actual settling of all payments for all ordered products.</p>
                <p>8. &nbsp;In the event of a mismatch between the products and/or services ordered and those provided, the orderer shall be reimbursed, provided that he has not begun using the services or that he returned the products, in their original packaging, being undamaged, and so long as no usage of the product was made, and within 14 days as of the purchase date.</p>
                <p>9. &nbsp;In the event of a mismatch between the products and/or services ordered and those provided, the orderer shall be reimbursed, provided that he has not begun using the services or that he returned the products, in their original packaging, being undamaged, and so long as no usage of the product was made, and within 14 days as of the purchase date.</p>
                <p>10. &nbsp;Any liability of a Seller for any products and/or services is subjected to the provisions of the Israeli laws, and in any case shall not exceed, in its monetary scope, the actual price paid for their purchase.</p>
                <br /><br />

                <span>9. &nbsp;Delivery of Ordered Products</span><br />
                <p>1. &nbsp;In the event that products, ordered or purchased through The Application, require the Seller's delivery, and the Seller have agreed to their delivery, the delivery cost shall apply to the orderer.</p>
                <p>2. &nbsp;The products shall be supplied to the address provided by the orderer.</p>
                <p>3. &nbsp;The delivery date, indicated in The Application, is in Israeli business days, and is an evaluation only, and may vary for various reasons including but not limited to import processes, administrative procedures, regulatory requirements, strikes, shutdowns, weather damages, war, force majeure and other circumstances which are out of the Sellers' control, and the latter shall not bear any liability thereof.</p>
                <br /><br />

                <span>10. &nbsp;Uploading Contents to The Application</span>>br/>
                <p>If, under the frame of application usage, search, order of products and/or services and/or other activity performed through The Application, The Application allows you to upload information and/or any contents, the responsibility for such contents, their meaning and their actual uploading applies to you alone.</p>
                <p>Without derogating from the above, you may not upload any contents which may be offensive to any person, good name, privacy, proprietary or other rights, and uploading contents which are contrary to the provisions of these Terms of Usage and/or any law is prohibited.</p>
                <p>The Owners reserve the right to edit, change and even delete such contents. You hereby provide your explicit consent to contents' changes and/or editing and/or deleting.</p>
                <p>It is your right to approach the Owners and request the deletion of contents you uploaded to The Application, and the Owners shall make an effort to fulfill your request, however, they do not undertake to do so.</p>
                <p>The responsibility for any act or omission, which does not comply with the above, applies to you alone.</p>
                <br /><br />

                <span>11. &nbsp;Links, Advertisements and Redirecting from The Application</span><br />
                <p>The Application may redirect to other contents, advertisements, other applications and/or sources, which are not at the control and/or supervision of the Owners. Therefore, the liability for any damage of any kind caused by any offensive, immoral, illegal materials, or as a result of and/or by the above, does not and shall not apply to the Owners/Sellers and/or whoever on their behalf.</p>
                <br /><br />

                <span>12 &nbsp;Ownership Rights and Intellectual Property Rights</span><br />
                <p>The intellectual property rights for The Application and any contents included herein are protected in Israel and abroad in virtue of Israel State laws and International Conventions.</p>
                <p>The Owners respect the ownership rights and intellectual property rights of others, and so should you.</p>
                <p>Unless otherwise explicitly agreed upon in advance and in writing, the information and/or intellectual property rights of The Application should be regarded as the Owners alone and/or as permitted to use by the Owners or third parties, inclusive of copyrights, moral rights, trademarks, service rights, brand names, models, patents, creations, designs, inventions, trade secrets, technological information, functional information, professional information, commercial and business information, and any information and/or intellectual property right, whether registered or not (here in after: "<b>The Intellectual Property Rights</b>").</p>
                <p>Third parties, having intellectual property rights in contents uploaded to The Application, without the Owners' knowledge of and/or consent to it, are requested to approach the Owners and/or whoever on their behalf and report them of the matter.</p>
                <p>The Owners reserve the right to enforce, change, amend, and prevent any use and/or upload to The Application and/or advertising of contents infringing their intellectual property rights and/or those of third parties, and to demand any compensation and/or indemnity from whoever may have placed and/or places the Owners in a position of possible infringement of their and/or others' rights.</p>
                <br /><br />

                <span>13. &nbsp;Usage of Application Contents</span><br />
                <p>The Application and/or its contents are not to be used in an offensive manner towards an individual, his good name, privacy or rights. The Application and/or its contents are not to be used in any manner that is contradictory to these Terms of Usage and/or the provisions of any law, custom, or public regulation.</p>
                <p>Any download and/or use of The Application and/or any of the contents included therein and/or taken therefrom, are for personal use only, and are not to be of any other use including business, marketing, massive or commercial use, unless permitted by the Owners, explicitly, in advance and in writing.</p>
                <p>Without derogating from the generality of the above, none of the contents and/or intellectual property rights of the Owners and/or third parties are to be used without their consent, including but not limited to, by way of cutting, pasting, saving as file, duplicating, distributing, processing, deleting, adding, changing, selling, renting, lending, transferring, coping, rewriting, publicly presenting, publicly performing, creating a derivative work, or in any other way.</p>
                <p>Whoever does so without the explicit permit of the Owners, in advance and in writing, to the extent possible and subjected to its terms, risks standing to criminal and civil trial, including orders of injunction, search, hold, monetary claims, ceasing of goods, arrest, imprisonment, and any other and/or additional enforcement means the Owners shall deem appropriate.</p>
                <p>The permit, provided to you by the Owners, to make use of any contents on The Application, is not and shall not serve, if and to the extent provided, to derogate from the Owners' rights, including Ownership rights in general and intellectual property rights specifically, and no deed or omission shall be interpreted as a consent for transfer and/or usage of any intellectual property right or other right, to the permit owner or to another individual, unless agreed upon explicitly, in advance and in writing, and subject to the rights titled/owned by the Owners, or that the latter have received from third parties, and subject to the provisions of any law.</p>
                <p>Without derogating from the above, "fair use" of the creation, as interpreted by any law, is permitted for the purpose of self-learning, research, audit, review, journalistic report, extracting quotations, instruction and examination by an educational institute only. In any fair use, the contents and application writers must be given credit. The contents is not to be damaged, distorted or altered in any way, or used for any offensive action.</p>
                <br /><br />

                <span>14. &nbsp;Liability</span><br />
                <p>The Application and its contents are presented and offered to use on "As Is" basis.</p>
                <p>The Owners shall not bear any liability, contract and/or tort and/or other, for any use of The Application and/or its contents for any reason.</p>
                <p>The Owners shall not bear any liability for contents submitted or uploaded by you in relation to their legality, reliability, credibility, accuracy, intactness, computerized files attached to them, and for any damage, loss, distress or consequences, directly or indirectly, to you and/or to any third party.</p>
                <p>The Owners shall not bear any liability for any damage incurred due to the downloading of The Application and/or link/contents included therein, including the presentation or advertisement of contents in any other way. Furthermore, the complete and sole responsibility for any link, presentation, advertisement, or other contents made by you, apply to you and you hereby undertake to indemnify the Owners for any related damage.</p>
                <p>The Owners are not obligated to save any contents you uploaded to and/or downloaded from The Application, and the responsibility for saving contents in your own means, is independent of the Owners and/or The Application and/or whoever associated with them, and applies to you alone. Saving such contents is subjected to the provisions of any law and these Terms of Usage.</p>
                <p>You hereby declare that any liability and risk for any damage and/or loss incurred to you due to the use of The Application, apply to you, including: accidents, distress, economical aspects and any other damage. It is further indicated that using the mobile phone while driving is prohibited and dangerous to you and your surroundings.</p>
                <br /><br />

                <span>15. &nbsp;Indemnity</span><br />
                <p>You hereby undertake to indemnify and compensate the Owners and/or whoever on their behalf, for any deed and/or omission causing the Owners direct or indirect damage, loss, loss of profit, payment or expense, whether due to the breaching of these Terms of Usage, whether due to the breaching of the provisions of any law, and whether due to any third party pretense or claim.</p>
                <br /><br />

                <span>16. &nbsp;Payments, Fees and Refunds</span>
                <p>16.1 &nbsp;Each purchase price can and will be determined by the Owners and can be changed from time to time. Each transaction that will be made by service providers will include 20% processing fee that will be part of the final purchase payment. This fee won't be refundable under any circumstances. This processing fee can be changed from time to time and will be under the consideration of the Owners only. In case that the service provider will want to get a refund based on a solid fact, he will need to contact the Owners using the contact us page with references to the relevant department. Refunds can only be asked and processed till 48 hours from purchasing time. In case the refund request will be made after 48 hours for purchase time and date, no refund will be approved.</p>
                <p>16.2 &nbsp;Each withdrawal will be processed within 7 business days from the request. In case that the consumer won't have at least $40 in his balance, he won't be able to send payment request and the payment won't be approved.</p>
                <p>16.3 &nbsp;Payment request fee will be 10% from each withdrawal and won't be refundable. This fee won't include any Paypal fees or any other fees that the consumer could be charged due to the transaction. </p>
                <p>16.4 &nbsp;In cases when a service provider asks for a refund and the Owners will find the request as legit, the Owner will automatically reduce the amount from the relevant consumer and credit the Youffer balance of the service provider.</p>
                <p>16.5 &nbsp;Refunds and only made as Youffer credit and not as credit card refunds</p>
                <p>16.6 &nbsp;The withdrawal request can only be made to the paypal account that the consumer have entered on the "my balance" page inside Youffer application. In case the consumer won't have any Paypal account or will put wrong Paypal details he will be solely responsible for it. The Owners won't verify the legit of the Paypal account and will transfer the money derctly and only to the account that was inserted to the application under the "My balance" section. in case the consumer doesn't have a Paypal account, he can create one on <a target="_blank" href="https://www.paypal.com/">www.paypal.com</a> </p>
                <br /><br />


                <span>17. &nbsp;Changes to the Terms of Usage</span><br />
                <p>From time to time, these Terms of Usage may be applied with changes, updates, additions, deletions, at the absolute and sole discretion of the Owners, of which an announcement shall be advertised. If you are interested to continue and make use of this application, you shall be regarded as agreeing to the amended terms, unless they contradict the provisions of the law.</p>
                <br /><br />

                <span>18. &nbsp;Contact Us</span><br />
                <p>
                    We shall make all efforts to handle, as soon as possible, applications relevant to us. The said applications should be submitted according to the following details:<br />
                    Name| Address | Telephone |  Email   and will be sent to the following email address: <a href="mailto:support@Youffer.com">support@Youffer.com</a><br />
                    You can also contact us using our contact us page: <a href="@Url.Action("contact", "Home")" class="staticTextLink" target="_blank">www.youffer.com/contactus
                </p>
                <br />
            </div>
        </div>
    </div>
</div>



