@{
    ViewBag.Title = "What Is Youffer";
    Layout = "~/Views/Shared/_YoufferLayout.cshtml";
}

<div class="page-container">
    <div class="container">
        <ul class="staic-page-list">
            <li>What Is Youffer</li>
        </ul>
    </div>
    <div class="container static-page-container">
        <div class="youffer-text">
            <p>
                Youffer was created in order to help clients and service providers find each other in an easy way and connect.<br />
                Until now, whenever a service provider has wanted to find potential clients, ‘strategic promotions’ have been done in a hope that they will bring clients to the company.<br />
                Until now, service providers have needed to invest in advertising without knowing whether it will bring in any traffic.<br />
                Until now, service providers have not been minimizing their advertisement costs.
            </p><br />

            <p style="color: black; font-size: 18px; font-weight: bolder;">Now we have Youffer</p>
            <p>
                Youffer is a game-changer in online marketing; it takes connecting with potential clients to a whole new level. With Youffer you will be able to find relevant clients for your type of
                company and connect with them in just seconds.<br />
                We are living in a world where people have a growing number of needs and as a result, new services and service providers are emerging.<br />
                So why not make the connecting between them simple and easy?<br />
                Youffer offers <span style="font-weight: bold; text-decoration: underline; color: black;">service providers</span> a convenient way to find their potential clients and connect with them.<br />
                Every Youffer user defines their needs and shares them. Every service provider can then see all the Youffer users that are relevant to his or her service, purchase the details of
                those who they want to contact (for only $5) and then engage via phone or message.
            </p><br />

            <p style="color: black; font-size: 18px; font-weight: bolder;">How we are keeping the purchases legit? </p>
            <p>
                Users have an average rank that has been accumulated by service providers who have purchased their details and then rated them in the past. The rank falls between 0 and 5 stars.<br />
                Every service provider can then search for relevant users and purchase the ones with the highest ranking.<br />
                The higher the rank, the more probable it is that the client will agree to use the service of the provider.<br />
                At Youffer, we have a well-organized refund policy if the service provider encounters a problem with a purchase. So why waste your advertising money on online services that don’t deliver
                what you expected them to? Maximize your company’s sales with the most direct and effective tool that is on the market today.
            </p><br />

            <p style="color: black; font-size: 18px; font-weight: bolder;">Join our online revolution!</p>
        </div>
    </div>
</div>