@{
    ViewBag.Title = "Message";
}
<div class="large-box">
    <div>
        <div class="box-heading">
            Messages
        </div>
        <div class="large-box-data" id="">
            @ViewBag.ReturnMessage
        </div>
    </div>
</div>
