<?xml version="1.0"?>
<appSettings>
  <add key="apiBaseUrl" value="http://192.168.103.167:94/" />
  <!--<add key="apiBaseUrl" value="http://www.youffer.com:88/" />-->
  <add key="domain" value="http://localhost:49458/" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FileType" value=".png, .gif, .jpg, .jpeg" />
  <add key="ValidImageExtensions" value=".png,.gif,.jpg,.jpeg" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="interestPrice" value="5" />
  <add key="interestPriceIndia" value="125" />
  <add key="processingFeePercent" value="20" />
  <add key="processingFeeIndia" value="75" />
  <add key="interestPriceCurrency" value="USD" />
  <add key="merchant_site_id" value="124898" />
  <add key="merchant_id" value="1240866454707031947" />
  <add key="secret_key" value="uHoce47J8NAd3a667Xq9eRJqbA6xLyfwJn3YlfH9bY7A9VUVAva3WZTeVprSTpqK" />
  <add key="test_pppURL" value="https://ppp-test.gate2shop.com/ppp/purchase.do?" />
  <add key="live_pppURL" value="https://secure.gate2shop.com/ppp/purchase.do?" />
  <add key="OwnerAddress" value="support@youffer.com" />
  <add key="MailerAddress" value="support@youffer.com" />
  <add key="Mailersubject" value="New query for Youffer" />
  <add key="IsApiPagingInabled" value="false" />
  <add key="IsDummy" value="true" />
  <add key="interestPriceIndia" value="125" />
  <add key="processingFeeIndia" value="75" />
  <add key="2COUrl" value="https://sandbox.2checkout.com/checkout/purchase" />
  <add key="2COMode" value="2CO" />
  <add key="2COAccountNumber" value="901257570" />
  <add key="2COCurrencyCode" value="INR" />
  <add key ="g2SiFrameEnabled" value="false" />
</appSettings>

